:root{
    --font-primary: 'Inter', sans-serif;
    --color-pink: #770707;
    --color-orange: #e86f0d;
    --color-black: #000000;
    --color-white: #F5F5F5;
}

body{
    background: var(--color-orange);
}